## Задание 1
- Скачать данные по ссылке https://www.kaggle.com/datasets/mohidabdulrehman/laptop-price-dataset
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк

Company - компания, которая производит ноутбуки<br>
Product - имя ноутбука<br>
TypeName - тип ноутбука<br>
Inches - диагональ<br>
ScreenResolution - разрешение ноутбука<br>
Cpu - процессор<br>
Ram - ОЗУ<br>
Memory - память<br>
Gpu - видеокарта<br>
OpSys - операционная система<br>
Weight - вес ноутбука<br>
Price_euros - стоимость ноутбука<br>

In [283]:
import pandas as pd

In [284]:
df = pd.read_csv('laptop_price.csv', encoding='latin-1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

### Задание 1.1 Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [285]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])
df['Cpu_Company'].value_counts()

Cpu_Company
Intel      1240
AMD          62
Samsung       1
Name: count, dtype: int64

### Задание 1.2 Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [286]:
def mem_amount(memory_str: str):
    memory_str = memory_str.split()[0]
    if memory_str.endswith('GB'):
        return memory_str.replace('GB', '')
    elif memory_str.endswith('TB'):
        return int(float(memory_str.replace('TB', ''))) * 1024

df['Memory_Amount'] = df.Memory.apply(mem_amount)
df.Memory_Amount.value_counts()

Memory_Amount
256     508
1024    250
128     177
512     140
500     132
32       45
64       17
2048     16
16       10
180       5
240       1
8         1
508       1
Name: count, dtype: int64

### Задание 1.3 Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)

In [287]:
def mem_type_amount(memory_str: str):
    if memory_str.split()[1] == 'Flash':
        return 'Flash Storage'
    else:
        return memory_str.split()[1]

mem_type_amount('128GB Flash Storage')

df['Memory_Type'] = df.Memory.apply(mem_type_amount)
df.Memory_Type.value_counts()

Memory_Type
SSD              843
HDD              375
Flash Storage     75
Hybrid            10
Name: count, dtype: int64

### Задание 1.4 Удалите признаки Memory и ScreenResolution

In [288]:
df_new = df.drop(columns=['Memory', 'ScreenResolution'])

In [289]:
df_new.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

## Задание 2
### 2.1 Создайте признак SSD, который изначально равен 0

In [290]:
df.insert(9, 'SSD', 0)

In [291]:
df.sample()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,SSD,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
969,983,Lenovo,IdeaPad 310-15IKB,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,6GB,256GB SSD,0,Nvidia GeForce 920MX,Windows 10,2.4kg,695.0,Intel,256,SSD

### 2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [292]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1

In [293]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,SSD,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,1,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,0,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,1,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,1,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,1,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

### 2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [294]:
df.Weight = df.Weight.apply(lambda x: x.replace('kg', '')).astype('float')

In [295]:
df.sample()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,SSD,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
241,246,Asus,VivoBook Pro,Notebook,17.3,Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,128GB SSD + 1TB HDD,1,Nvidia GeForce 150MX,Windows 10,2.1,1145.0,Intel,128,SSD

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   SSD               1303 non-null   int64
 10  Gpu               1303 non-null   object
 11  OpSys             1303 non-null   object
 12  Weight            1303 non-null   float64
 13  Price_euros       1303 non-null   float64
 14  Cpu_Company       1303 non-null   object
 15  Memory_Amount     1303 non-null   object
 16  Memory_Type       1303 non-null   object
dtypes: float64(3), int64(2), object(12)
memory usage: 173.2+ KB

## Задание 3.
Создайте датафрейм с клиентами:

laptop_id - это индексы датафрейма с ноутбуками

### 3.1 Присоедините к таблице clients данные по ноутбукам через метод join

In [297]:
clients = pd.DataFrame({
'client_id': [45, 32, 67, 33, 43], 'laptop_id': [506, 398, 710, 120, 1999]
})

In [298]:
df_laptop_id = df.set_index('laptop_ID')
clients_laptop_id = clients.set_index('laptop_id')
clients_laptop_id.join(df_laptop_id).head()

,client_id,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,SSD,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
laptop_id,,,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,1.0,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,0.0,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD
120,33,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,1.0,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,SSD
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.2 Присоедините к таблице clients данные по ноутбукам через метод merge

In [299]:
clients_merged = clients.merge(df, left_on='laptop_id', right_on='laptop_ID')

In [300]:
clients_merged.head()

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,SSD,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,45,506,506,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,1,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD
1,67,710,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,0,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD
2,33,120,120,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,1,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,SSD

## Задание 4.
Составьте несколько сводных таблиц

### 4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей

In [302]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

#### 4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

In [303]:
group_data = df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']})

In [304]:
group_data

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

In [311]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']}).sort_values(('Price_euros', 'mean'))

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Samsung           659.0   659.000000   659.0
Intel             174.0  1152.214145  6099.0

In [308]:
df.columns.to_list()

['laptop_ID',
 'Company',
 'Product',
 'TypeName',
 'Inches',
 'ScreenResolution',
 'Cpu',
 'Ram',
 'Memory',
 'SSD',
 'Gpu',
 'OpSys',
 'Weight',
 'Price_euros',
 'Cpu_Company',
 'Memory_Amount',
 'Memory_Type']

In [309]:
cols_list = group_data.columns.to_list()
cols_list

[('Price_euros', 'min'), ('Price_euros', 'mean'), ('Price_euros', 'max')]

In [312]:
group_data.sort_values(cols_list[1])

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Samsung           659.0   659.000000   659.0
Intel             174.0  1152.214145  6099.0

In [313]:
group_data.sort_values(('Price_euros',  'min'))

            Price_euros
                    min         mean     max
Cpu_Company
Intel             174.0  1152.214145  6099.0
AMD               199.0   560.638871  2199.0
Samsung           659.0   659.000000   659.0

In [314]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']}).sort_values(('Price_euros',  'min'))

            Price_euros
                    min         mean     max
Cpu_Company
Intel             174.0  1152.214145  6099.0
AMD               199.0   560.638871  2199.0
Samsung           659.0   659.000000   659.0

#### 4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [315]:
df.pivot_table(
    index='Cpu_Company',
    columns='Ram',
    aggfunc='count',
    values='Weight'
)

Ram          12GB   16GB  24GB   2GB  32GB    4GB  64GB   6GB    8GB
Cpu_Company
AMD           2.0    3.0   NaN   1.0   NaN   31.0   NaN  13.0   12.0
Intel        23.0  197.0   3.0  21.0  17.0  343.0   1.0  28.0  607.0
Samsung       NaN    NaN   NaN   NaN   NaN    1.0   NaN   NaN    NaN

In [316]:
df.pivot_table(
    index='Ram',
    columns='Cpu_Company',
    aggfunc='count',
    values='Weight',
    fill_value='_'
)

Cpu_Company   AMD  Intel Samsung
Ram
12GB          2.0     23       _
16GB          3.0    197       _
24GB            _      3       _
2GB           1.0     21       _
32GB            _     17       _
4GB          31.0    343     1.0
64GB            _      1       _
6GB          13.0     28       _
8GB          12.0    607       _

#### 4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [321]:
df.pivot_table(
    index='OpSys',
    columns='Memory_Amount',
    aggfunc='mean',
    values='Price_euros',
    fill_value='**'
)

Memory_Amount,1024,2048,128,16,180,240,256,32,500,508,512,64,8
OpSys,,,,,,,,,,,,,
Android,**,**,**,**,**,**,**,**,**,**,**,434.0,**
Chrome OS,**,**,1275.0,305.38,**,**,1559.0,412.454545,**,**,2199.0,774.333333,**
Linux,581.40129,**,742.25,**,**,**,811.638125,**,389.056364,**,**,**,**
Mac OS X,**,**,1099.0,**,**,**,1311.994,**,**,**,1222.0,**,**
No OS,540.5396,594.0,562.14,**,**,**,782.989286,**,404.675385,**,1098.5,**,**
Windows 10,904.827906,666.9475,1026.489167,**,1073.5,3100.0,1334.456872,270.001471,664.717647,**,1911.985285,499.716,2249.0
Windows 10 S,**,**,1039.0,**,**,**,1668.95,**,**,**,2589.0,308.995,**
Windows 7,1539.666667,**,1320.323333,**,1199.0,**,1846.4668,**,924.048333,1002.0,2235.396667,**,**
macOS,**,**,1119.315,**,**,**,1600.37,**,**,**,2180.87,**,**

In [322]:
pd.crosstab(
    index=df['OpSys'],
    columns=df['Memory_Amount'], 
    aggfunc='mean',
    values=df['Price_euros'],
).fillna('--')

Memory_Amount,1024,2048,128,16,180,240,256,32,500,508,512,64,8
OpSys,,,,,,,,,,,,,
Android,--,--,--,--,--,--,--,--,--,--,--,434.0,--
Chrome OS,--,--,1275.0,305.38,--,--,1559.0,412.454545,--,--,2199.0,774.333333,--
Linux,581.40129,--,742.25,--,--,--,811.638125,--,389.056364,--,--,--,--
Mac OS X,--,--,1099.0,--,--,--,1311.994,--,--,--,1222.0,--,--
No OS,540.5396,594.0,562.14,--,--,--,782.989286,--,404.675385,--,1098.5,--,--
Windows 10,904.827906,666.9475,1026.489167,--,1073.5,3100.0,1334.456872,270.001471,664.717647,--,1911.985285,499.716,2249.0
Windows 10 S,--,--,1039.0,--,--,--,1668.95,--,--,--,2589.0,308.995,--
Windows 7,1539.666667,--,1320.323333,--,1199.0,--,1846.4668,--,924.048333,1002.0,2235.396667,--,--
macOS,--,--,1119.315,--,--,--,1600.37,--,--,--,2180.87,--,--

## Задание 5*.
Ответьте на несколько вопросов
### 5.1 Ноутбуков каких компаний и с каким процессором больше?

In [317]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'])

Cpu_Company  AMD  Intel  Samsung
Company
Acer          10     93        0
Apple          0     21        0
Asus          11    147        0
Chuwi          0      3        0
Dell           0    297        0
Fujitsu        0      3        0
Google         0      3        0
HP            25    249        0
Huawei         0      2        0
LG             0      3        0
Lenovo        16    281        0
MSI            0     54        0
Mediacom       0      7        0
Microsoft      0      6        0
Razer          0      7        0
Samsung        0      8        1
Toshiba        0     48        0
Vero           0      4        0
Xiaomi         0      4        0

In [318]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company']).max()

Cpu_Company
AMD         25
Intel      297
Samsung      1
dtype: int64

In [319]:
df1 = pd.crosstab(index=df['Company'], columns=df['Cpu_Company'])

In [320]:
df1[df1['Intel']==297]

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0

### 5.2 С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [323]:
data = pd.crosstab(index=df['Memory_Type'], columns=df['Memory_Amount'])
data

Memory_Amount  1024  2048  128  16  180  240  256  32  500  508  512  64  8
Memory_Type
Flash Storage     0     0    4   7    0    0    8  38    0    0    2  16  0
HDD             225    16    1   0    0    0    0   1  132    0    0   0  0
Hybrid            9     0    0   0    0    0    0   0    0    1    0   0  0
SSD              16     0  172   3    5    1  500   6    0    0  138   1  1

In [324]:
pd.crosstab(index=df['Memory_Type'], columns=df['Memory_Amount']).max().sort_values().to_frame()

                 0
Memory_Amount
240              1
508              1
8                1
180              5
16               7
2048            16
64              16
32              38
500            132
512            138
128            172
1024           225
256            500

In [325]:
def gold_max(x):
    m = x.to_numpy().max() # в numpy т.к. мы хотим макс от всех значений
    color = {True: "background-color: #c78f2e", False: ""}
    is_max = (x == m).replace(color)
    return is_max

In [326]:
data.style.apply(gold_max, axis = None)

In [327]:
data.to_numpy()

array([[  0,   0,   4,   7,   0,   0,   8,  38,   0,   0,   2,  16,   0],
       [225,  16,   1,   0,   0,   0,   0,   1, 132,   0,   0,   0,   0],
       [  9,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0],
       [ 16,   0, 172,   3,   5,   1, 500,   6,   0,   0, 138,   1,   1]])

In [328]:
data.to_numpy().max()

500

In [329]:
def highlight_max(x):
    return np.where(x == np.max(x.to_numpy()), f"color: red ;", None)

In [330]:
data.style.apply(highlight_max, axis=0)

NameError: name 'np' is not defined

In [331]:
data.style.apply(highlight_max, axis=1)

NameError: name 'np' is not defined

In [332]:
def blue_max(x):
    m = x.to_numpy().max()
    color = {True: f"color: blue;", False: ""}
    is_max = (x == m).replace(color)
    return is_max

In [333]:
data.style.apply(blue_max, axis = None)